extends ./layout.jade

block thead
  tr
    // One empty th
    th &nbsp;

    // Add other th columns here
    th Col 1
    th Col 2

block tbody
  // Add all the rows!
  tr
    // The first td of each row will be fixed
    td Fixed

    // Add the rest of your cells for each row
    td 1
    td 2
